@media (max-width: $mobileMaxWidth) {
    .board-cad-box{
        padding: 30px 15px 40px;
    }
    .card-only-bx {
        padding: 40px 20px 0px;
    }
    .bottom-img-wgt-t {
        text-align: center;
        margin-top: 0;
    }
    .case-study-card{
        margin: 0px 10px 30px;
    }
}